<div *ngIf="articulos!=null; else espera" class="container">
  <br>
  <h2>Dpendencias alcaldía de Pasto</h2>
  <hr>|
  <table class="table" >
    <thead>
      <tr>
        <td scope="col">Dependencia</td>
        <td scope="col">Descripcion</td>
        <td scope="col">Dirección</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let art of articulos '>
        <td  scope="row">{{art.dependencia}}</td>
        <td  scope="row">{{art.rea}}</td>
        <td  scope="row">{{art.direcci_n}}</td>
      </tr>
    </tbody>
  </table>
  <mat-paginator
              [pageSize]="pageSize"
              (page)="cambiarpag($event)"
              aria-label="Select page">
</mat-paginator>
</div>
<ng-template #espera>Esperando datos...</ng-template>
